nav {
    background-color: darkblue;
    padding: 10px
}

main {
    max-width: 800px;
    margin: 0 auto;
}

aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid #999;
    padding: 1rem;
    background-color: #f5f5f5;
    color: #222;
}

aside img {
    width: 200px;
    height: auto;
}

/* This targets ONLY the profile image inside main */
main img {
    width: 150px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #999;
    text-align: center;
}